# docker-compose.override.yml

services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack_lakehouse
    ports:
      - "4566:4566"
    environment:
      - SERVICES=secrets,IAM,s3,glue,lambda,

  spark-master:
    image: docker.io/bitnami/spark:3.5.0
    container_name: spark-master
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
    ports:
      - "8080:8080"
      - "7077:7077"

  spark-worker:
    image: docker.io/bitnami/spark:3.5
    container_name: spark-worker
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
    depends_on:
      - spark-master
