# Medallion Lakehouse Catalog
# Defines the mapping between Bronze (Raw) and Silver (Standardized) layers

yellow_taxi:
  source_path: "bronze/nyc_taxi/year=*/month=*/*.parquet"
  target_table: "iceberg.silver.nyc_taxi"
  merge_keys: ["vendor_id", "pickup_time"]
  partition_by: "pickup_time"
  # Mapping: "Silver_Column_Name": "Bronze_Source_Column"
  mappings:
    vendor_id: "VendorID"
    pickup_time: "tpep_pickup_datetime"
    dropoff_time: "tpep_dropoff_datetime"
    passenger_count: "passenger_count"
    trip_distance: "trip_distance"
    total_amount: "total_amount"

hvfhv_taxi:
  source_path: "bronze/hvfhv/year=*/month=*/*.parquet"
  target_table: "iceberg.silver.uber_lyft"
  partition_by: "pickup_time"
  mappings:
    vendor_id: "hvfhs_license_num" # Notice the different source column name
    pickup_time: "pickup_datetime"
    dropoff_time: "dropoff_datetime"
    passenger_count: "passenger_count"
    trip_distance: "trip_miles" # Uber calls it 'miles' instead of 'distance'
    total_amount: "base_passenger_fare"
